<div class="col-xs-12">
  <h2>Mes appareils<br/>
    <small>Mis à jour : {{ lastUpdate | async | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
  </h2>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils" [appareil]="appareil"></app-appareil>
  </ul>
  <button class="btn btn-success"
          (click)="onAllumerTout()"
          [disabled]="!isAuth">Tout Allumer
  </button>
  <button class="btn btn-danger"
          (click)="onEteintTout()"
          [disabled]="!isAuth">Tout Eteindre
  </button>
</div>
